@font-face {
    font-family: 'PFDin';
    src: url('/font/pfdindisplaypro-bold-webfont.eot');
    src: url('/font/pfdindisplaypro-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/pfdindisplaypro-bold-webfont.woff') format('woff'),
         url('/font/pfdindisplaypro-bold-webfont.ttf') format('truetype'),
         url('/font/pfdindisplaypro-bold-webfont.svg#pf_dindisplay_probold') format('svg');
    font-weight: 600;
    font-style: normal;

}


@font-face {
    font-family: 'PFDin';
    src: url('/font/pfdindisplaypro-light-webfont.eot');
    src: url('/font/pfdindisplaypro-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/pfdindisplaypro-light-webfont.woff') format('woff'),
         url('/font/pfdindisplaypro-light-webfont.ttf') format('truetype'),
         url('/font/pfdindisplaypro-light-webfont.svg#pf_dindisplay_prolight') format('svg');
    font-weight: 300;
    font-style: normal;

}


@font-face {
    font-family: 'PFDin';
    src: url('/font/pfdindisplaypro-med-webfont.eot');
    src: url('/font/pfdindisplaypro-med-webfont.eot?#iefix') format('embedded-opentype'),
         url('/font/pfdindisplaypro-med-webfont.woff') format('woff'),
         url('/font/pfdindisplaypro-med-webfont.ttf') format('truetype'),
         url('/font/pfdindisplaypro-med-webfont.svg#pf_dindisplay_promedium') format('svg');
    font-weight: 500;
    font-style: normal;

}

html, body {
	height: 100%;
	background: url(../img/bg.jpg) repeat;
	font-family: 'PFDin', Arial;
	font-weight: 300;
	font-size: 12pt;
}
h1, h2, h3, h4, h5, h6 {
	font-family: 'PFDin';
	font-weight: 300;
}
a {
	color: #888;
}
a:hover {
	text-decoration: none;
}

.container {
	max-width: 970px;
}
#wrapper {
	min-height: 100%;
    position:relative;
}
#content {
	position: relative;
	z-index: 1;
	padding-bottom: 60px;
	padding-top: 140px;
}
#content.mainpage {
	padding-top: 0;
}
.cv_footer {
	height: 60px;
    width:100%;
    position: absolute;
    z-index: 100;
    left: 0;
    bottom: 0;
    border-top: 2px solid #04aeda;
	background-image: url(../img/gray_jean.png);


}
.cv_header {
	background: rgba(255,255,255,.8);
	box-shadow: 0 0 1px 1px rgba(0,0,0,0.3);
	height: 100px;
	position: fixed;
	z-index: 100;
	top: 0;
	width: 100%;
}
/* Contacts Header */
.cv_header .contacts .columns{
	height: 100px;
}
.cv_header .contacts .phone {
	line-height: 64px;
	font-size: 28pt;
}
.cv_header .contacts .email {font-size: 14pt;}
.cv_header .contacts .email a { border-bottom: 1px dashed #333;}
.cv_header .contacts .icons > * { display: block; margin: 0 auto; }
.cv_header .contacts .icon-phone { width: 48px; padding: 5px 0; }
.cv_header .contacts .icon-email { width: 28px;}

.container h1 {
	text-shadow: 1px 1px 0 rgba(255,255,255,.8);
}


div.nopad > div[class*="col-"] {
	padding: 0;
}
.ajax-load {
	display: none;
	font-size: 0.8em;
	height: 34px;
	line-height: 34px;
	color: #04aeda;
}
.ajax-load img {
	padding-left: 8px;
	vertical-align: middle;
}

/* Top Menu */
#menu-top {
	height: 40px;
	line-height: 40px;
	float: right;
	margin-top: 20px;
}
#menu-top li {
	font-size: 16pt;
	font-weight: 300;
	list-style: none;
	float: left;
}
#menu-top li a {
	display: block;
	color: #888;
	padding: 0 10px;
	transition: all .3s;
	border-bottom: 2px solid #888;
}
#menu-top li.active a { color: #333; border-bottom: 2px solid #04aeda; }
#menu-top li:hover a { color: #333; border-bottom: 2px solid #04aeda; }


/* Top Slider */
.slider-top-wrapper {
	background: #f2f5fa;

}
#slider-top {
	height: 476px;
	max-width: 1920px;
	margin: 0 auto;
	overflow: hidden;
}
.slider-top-content {
	position: absolute;
	font-family: 'PFDin';
	font-weight: 300;
	height: 476px;
	width: 100%;
	top: 0;
	z-index: 10;
	overflow: hidden;
	box-shadow: inset 0 0 8px 0px rgba(0,0,0,0.3), 0 0 0px 1px rgba(255,255,255,0.3);
}
.slider-top-content .row {
	margin-top: 100px;
	height: 380px;
}
.slider-top-content .columns {
	position: relative;
}
.slider-top-content .columns img {
	position: relative;
	bottom: 0;
}
.slider-top-content .info > h1 {
	font-size: 48pt;
	font-weight: 500;
	color: #fff;
	text-shadow: 1px 1px 1px rgba(0,0,0,.9);
	margin: 0;
	text-align: center;
	margin-top: 10px;
}
.slider-top-content .info h2 {
	position: absolute;
	left: 74px;
	bottom: -75px;
	font-size: 28pt;
	line-height: 20pt;
	margin-top: 0;
	font-weight: 300;
	color: #444;
	text-shadow: 1px 1px 1px rgba(255,255,255,.8);
	margin-bottom: 0;
	display: inline-block;
}
.slider-top-content .info h2 > span {
  font-size: 14pt;
  text-shadow: none;
  font-weight: 400;
}
.slider-top-content .info h3 {
	font-size: 20pt;
	line-height: 32pt;
	margin-bottom: 20px;
	font-weight: 300;
	color: #444;
	text-align: center;

}
.slider-top-content .info h3 span {
	font-weight: 500;
	font-size: 22pt;
	color: #222;
}

.slider-top-content .info .ribbon {
   width: 299px;
   position: absolute;
   text-align: center;
   font-size: 24px!important;
   background: #04afda;
   background: -webkit-gradient(linear, left top, left bottom, from(#04afda), to(#0086a8));
   background: -webkit-linear-gradient(top, #04afda, #0086a8);
   background: -moz-linear-gradient(top, #04afda, #0086a8);
   background: -ms-linear-gradient(top, #04afda, #0086a8);
   background: -o-linear-gradient(top, #04afda, #0086a8);
   background-image: -ms-linear-gradient(top, #04afda 0%, #0086a8 100%);
   -webkit-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   box-shadow: rgba(000,000,000,0.3) 0 1px 1px;
   font-family: 'Helvetica Neue',Helvetica, sans-serif;
   }
.ribbon h1 {
   font-size: 28px!important;
   color: #fff;
   text-shadow: #000 0 1px 0;
   margin:0px;
   padding: 15px 10px;
}
.ribbon:before, .ribbon:after {
   content: '';
   position: absolute;
   display: block;
   bottom: -1em;
   border: 1.5em solid #04afda;
   z-index: -1;
   }
.ribbon:before {
   left: -2em;
   border-right-width: 1.5em;
   border-left-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) 1px 1px 1px;
   }
.ribbon:after {
   right: -2em;
   border-left-width: 1.5em;
   border-right-color: transparent;
   -webkit-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   -moz-box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   box-shadow: rgba(000,000,000,0.4) -1px 1px 1px;
   }
.ribbon .ribbon-content:before, .ribbon .ribbon-content:after {
   border-color: #116175 transparent transparent transparent;
   position: absolute;
   display: block;
   border-style: solid;
   bottom: -1em;
   content: '';
   }
.ribbon .ribbon-content:before {
   left: 0;
   border-width: 1em 0 0 1em;
   }
.ribbon .ribbon-content:after {
   right: 0;
   border-width: 1em 1em 0 0;
   }
.ribbon-stitches-top {
   margin-top:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.5);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.5);
   }
.ribbon-stitches-bottom {
   margin-bottom:2px;
   border-top: 1px dashed rgba(0, 0, 0, 0.2);
   -moz-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   -webkit-box-shadow: 0px 0px 2px rgba(0, 0, 0, 0.3);
   box-shadow: 0px 0px 2px rgba(255, 255, 255, 0.3);
   }

.placeText {
  position: absolute;
  top: 10px;
  left: 10px;
  background: white;
  padding: 0 25px;
  z-index: 9999;
  font-size: 36px;
  border-radius: 3px;
  box-shadow: inset 0 0 1px 1px rgba(0,0,0,0.3);
}

#order {
	margin: 0 auto;
	margin-bottom: 40px;
	background: #fff;
	border: 1px solid #ccc;
	border-radius: 20px;
	padding: 30px;
}
#order label {
	font-weight: 500;
}
#order .checkbox label {
	margin: 10px 0;
	font-weight: 300;
	font-size: 12pt;
	line-height: 12pt;
}
#order .checkbox input {
	margin: 8px 4px 0 -20px;
}

.quote-photo {
	width: 180px;
	margin: 0 auto;
	display: block;
	border-radius: 100%;
	background: #fff;
	padding: 2px;
}



.timeline-container {
  position: relative;
  padding-top: 4px;
  margin-bottom: 32px;
}
.timeline-container:last-child {
  margin-bottom: 0;
}
.timeline-container:before {
  /* the vertical line running through icons */

  content: "";
  display: block;
  position: absolute;
  left: 28px;
  top: 0;
  bottom: 0;
  border: 1px solid #E2E3E7;
  background-color: #E7EAEF;
  width: 4px;
  border-width: 0 1px;
}
.timeline-container:first-child:before {
  border-top-width: 1px;
}
.timeline-container:last-child:before {
  border-bottom-width: 1px;
}
.timeline-item {
  position: relative;
  margin-bottom: 8px;
}
.timeline-item .widget-box {
  background-color: #F2F6F9;
  color: #595C66;
}
.timeline-item .transparent.widget-box {
  border-left: 3px solid #DAE1E5;
}
.timeline-item .transparent .widget-header {
  background-color: #ECF1F4;
  border-bottom: none;
}
.timeline-item .transparent .widget-header > :first-child {
  margin-left: 8px;
}
.timeline-item:nth-child(even) .widget-box {
  background-color: #F3F3F3;
  color: #616161;
}
.timeline-item:nth-child(even) .widget-box.transparent {
  border-left-color: #DBDBDB !important;
}
.timeline-item:nth-child(even) .widget-box.transparent .widget-header {
  background-color: #EEE !important;
}
.timeline-item .widget-box {
  margin: 0;
  position: relative;
  max-width: none;
  border-bottom: none;
  margin-left: 60px;
}
.timeline-item .widget-main {
  margin: 0;
  position: relative;
  max-width: none;
  border-bottom: none;
}
.timeline-item .widget-body {
  background-color: transparent;
}
.timeline-item .widget-toolbox {
  padding: 4px 8px 0 !important;
  background-color: transparent !important;
  border: 0 solid #CCC !important;
  border-top: none !important;
  margin: 0 0px !important;
}
.timeline-info {
  float: left;
  width: 60px;
  text-align: center;
  position: relative;
}
.timeline-info img {
  border-radius: 100%;
  max-width: 42px;
}
.timeline-info .label,
.timeline-info .badge {
  font-size: 12px;
}
.timeline-container:not(.timeline-style2) .timeline-indicator {
  opacity: 1;
  border-radius: 100%;
  display: inline-block;
  font-size: 16px;
  height: 36px;
  line-height: 30px;
  width: 36px;
  text-align: center;
  text-shadow: none !important;
  padding: 0;
  cursor: default;
  border: 3px solid #FFF !important;
}
.timeline-label {
  display: block;
  clear: both;
  margin: 0 0 18px;
  margin-left: 34px;
}
.timeline-item img {
  border: 1px solid #AAA;
  padding: 2px;
  background-color: #FFF;
}
.timeline-style2:before {
  display: none;
}
.timeline-style2 .timeline-item {
  padding-bottom: 22px;
  margin-bottom: 0;
}
.timeline-style2 .timeline-item:last-child {
  padding-bottom: 0;
}
.timeline-style2 .timeline-item:before {
  content: "";
  display: block;
  position: absolute;
  left: 90px;
  top: 5px;
  bottom: -5px;
  border-width: 0;
  background-color: #DDD;
  width: 2px;
  max-width: 2px;
}
.timeline-style2 .timeline-item:last-child:before {
  display: none;
}
.timeline-style2 .timeline-item:first-child:before {
  display: block;
}
.timeline-style2 .timeline-item .transparent .widget-header {
  background-color: transparent !important;
}
.timeline-style2 .timeline-item .transparent.widget-box {
  background-color: transparent !important;
  border-left: none !important;
}
.timeline-style2 .timeline-info {
  width: 100px;
}
.timeline-style2 .timeline-indicator {
  font-size: 0;
  height: 12px;
  line-height: 12px;
  width: 12px;
  border-width: 1px !important;
  background-color: #FFFFFF !important;
  position: absolute;
  left: 85px;
  top: 3px;
  opacity: 1;
  border-radius: 100%;
  display: inline-block;
  padding: 0;
}
.timeline-style2 .timeline-date {
  display: inline-block;
  width: 72px;
  text-align: right;
  margin-right: 25px;
  color: #777;
}
.timeline-style2 .timeline-item .widget-box {
  margin-left: 112px;
}
.timeline-style2 .timeline-label {
  width: 75px;
  text-align: center;
  margin-left: 0;
  margin-bottom: 10px;
  text-align: right;
  color: #666;
  font-size: 14px;
}
.timeline-time {
  text-align: center;
  position: static;
}
.widget-main {
	padding: 12px;
}

.widget-header-small {
min-height: 31px;
padding-left: 10px;
}
.widget-header-small > :first-child {
line-height: 30px;
}
.widget-header-small h5 {
	font-size: 1.2em;
}
.section {
	background: #fff;
	background: rgba(255,255,255,.9);
	margin-top: 10px;
	padding-bottom: 30px;
	box-shadow: 0 0 5px rgba(0,0,0,.6);
}

/* pricing table */
.pricing-box {
  /* the purchase button */

}
.pricing-box:not(:first-child) {
  padding-left: 7px;
}
.pricing-box:not(:last-child) {
  padding-right: 7px;
}
.pricing-box .price {
  font-size: 22px;
  line-height: 20px;
  height: 28px;
  text-align: center;
  color: #555;
}
.pricing-box .price small {
  font-size: 14px;
}
.pricing-box .btn {
  font-size: 16px;
}
.pricing-box .widget-header {
  /* the title */

  text-align: center;
  padding-left: 0;
}
@media only screen and (max-width: 768px) {
  .pricing-box {
    margin: 0;
    margin-bottom: 16px;
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin-left: -1px;
  }
  .pricing-box:nth-child(odd) {
    padding-left: 12px !important;
  }
  .pricing-box:nth-child(even) {
    padding-right: 12px !important;
  }
}
@media only screen and (max-width: 460px) {
  .pricing-box {
    margin: 0;
    margin-bottom: 16px;
    width: 100%;
    padding-left: 12px !important;
    padding-right: 12px !important;
  }
}
.pricing-table-header {
  padding-top: 0;
  margin-top: 0;
  text-align: left;
}
.pricing-table-header > li {
  padding: 7px 0 7px 11px;
  font-size: 13px;
}
.pricing-table {
  margin-top: 0;
}
.pricing-table > li {
  text-align: center;
  padding: 7px 0;
  font-size: 13px;
}
.list-striped > li:nth-child(odd) {
  background-color: #FFF;
}
.list-striped > li:nth-child(even) {
  background-color: #F2F3EB;
}
.list-striped.pricing-table-header > li:nth-child(even) {
  background-color: #EEE;
}
.pricing-box-small {
  box-shadow: none;
  margin-left: -2px;
  background-color: #FFF;
  position: relative;
  z-index: 10;
}
.pricing-box-small .price {
  line-height: 20px;
  height: 28px;
  text-align: center;
}
.pricing-box-small .price .label:before,
.pricing-box-small .price .label:after {
  margin-top: -2px;
  opacity: 0.9;
  filter: alpha(opacity=90);
}
.pricing-box-small:hover {
  box-shadow: 0 0 4px 2px rgba(0, 0, 0, 0.15);
  z-index: 11;
  -webkit-transform: scale(1.04);
  -ms-transform: scale(1.04);
  transform: scale(1.04);
}
.pricing-box-small:hover .price > .label {
  -webkit-transform: scale(0.96);
  -ms-transform: scale(0.96);
  transform: scale(0.96);
}
.pricing-span {
  margin: 0;
  width: 180px !important;
  float: left !important;
  position: relative;
}
.pricing-span-header {
  padding-right: 0;
}
@media only screen and (min-width: 481px) {
  .pricing-span-body {
    padding-left: 0;
    padding-right: 0;
    display: inline-block;
  }
}
@media only screen and (max-width: 480px) {
  .pricing-span-header,
  .pricing-span-body {
    width: 100%;
    padding-right: 12px;
    display: inline-block;
  }
}
.widget-header {
  box-sizing: content-box;
  position: relative;
  min-height: 38px;
  background: linear-gradient(rgb(255, 255, 255) 0px, rgb(238, 238, 238) 100%) repeat-x rgb(247, 247, 247);
  color: rgb(102, 159, 199);
  border: 1px solid;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  padding-left: 12px;
}
.widget-box.transparent > .widget-header {
  background: 0px 50%;
  border: 0px;
  border-image-source: initial;
  border-image-slice: initial;
  border-image-width: initial;
  border-image-outset: initial;
  border-image-repeat: initial;
  color: rgb(67, 131, 180);
  padding-left: 3px;
}
.widget-box.transparent .widget-body {
border: 0px;
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
background-color: transparent;
}
/* widget header colors */
.widget-header[class*="header-color-"] {
  color: #FFF;
  filter: progid:DXImageTransform.Microsoft.gradient(enabled=false);
}
.header-color-blue {
  background: #307ecc;
  border-color: #307ecc;
}
.header-color-blue + .widget-body {
  border-color: #307ecc;
}
.header-color-blue2 {
  background: #5090c1;
  border-color: #5090c1;
}
.header-color-blue2 + .widget-body {
  border-color: #5090c1;
}
.header-color-blue3 {
  background: #6379aa;
  border-color: #6379aa;
}
.header-color-blue3 + .widget-body {
  border-color: #6379aa;
}
.header-color-green {
  background: #82af6f;
  border-color: #82af6f;
}
.header-color-green + .widget-body {
  border-color: #82af6f;
}
.header-color-green2 {
  background: #2e8965;
  border-color: #2e8965;
}
.header-color-green2 + .widget-body {
  border-color: #2e8965;
}
.header-color-green3 {
  background: #4ebc30;
  border-color: #4ebc30;
}
.header-color-green3 + .widget-body {
  border-color: #4ebc30;
}
.header-color-red {
  background: #e2755f;
  border-color: #e2755f;
}
.header-color-red + .widget-body {
  border-color: #e2755f;
}
.header-color-red2 {
  background: #e04141;
  border-color: #e04141;
}
.header-color-red2 + .widget-body {
  border-color: #e04141;
}
.header-color-red3 {
  background: #d15b47;
  border-color: #d15b47;
}
.header-color-red3 + .widget-body {
  border-color: #d15b47;
}
.header-color-purple {
  background: #7e6eb0;
  border-color: #7e6eb0;
}
.header-color-purple + .widget-body {
  border-color: #7e6eb0;
}
.header-color-pink {
  background: #ce6f9e;
  border-color: #ce6f9e;
}
.header-color-pink + .widget-body {
  border-color: #ce6f9e;
}
.header-color-orange {
  background: #ffc657;
  border-color: #e8b10d;
  color: #855d10 !important;
}
.header-color-orange + .widget-body {
  border-color: #e8b10d;
}
.header-color-dark {
  background: #404040;
  border-color: #454545;
}
.header-color-dark + .widget-body {
  border-color: #666666;
}
.header-color-grey {
  background: #848484;
  border-color: #989898;
}
.header-color-grey + .widget-body {
  border-color: #aaaaaa;
}

.no-padding {
padding: 0!important;
}
.header-color-blue + .widget-body {
border-color: rgb(48, 126, 204);
}
.widget-body {
border-right-width: 1px;
border-bottom-width: 1px;
border-left-width: 1px;
border-right-style: solid;
border-bottom-style: solid;
border-left-style: solid;
border-right-color: rgb(204, 204, 204);
border-bottom-color: rgb(204, 204, 204);
border-left-color: rgb(204, 204, 204);
border-image-source: initial;
border-image-slice: initial;
border-image-width: initial;
border-image-outset: initial;
border-image-repeat: initial;
border-top: 0px;
background-color: rgb(255, 255, 255);
}

.widget-header .sale-label {
  width: 100px;
  top: -40px;
  left: -30px;
  position: absolute;
}

@media only screen and (max-width: 1024px) {
  #menu-top li {
    font-size: 12pt;
  }
  .cv_header .contacts .icon-phone {
    width: 32px;
    padding: 16px 0;
  }
  .cv_header .contacts .icon-email {
    width: 18px;
  }
  .cv_header .contacts .phone {
    font-size: 20pt;
  }
  .cv_header .contacts .email {
    font-size: 12pt;
  }
  .slider-top-content .info > h1 {
    font-size: 36pt;
  }
  .slider-top-content .info h3 span {
    font-size: 16pt;
  }
}
@media only screen and (max-width: 768px) {
  #menu-top {
    margin-top: 0;
    float: none;
  }
  #menu-top li {
    font-size: 12pt;

  }
  .cv_header .contacts .icons {
    display: none;
  }
  .cv_header div[class*="col-"] {
    display: block;
    float: none;
    width: 100%;
  }
  .cv_header div[class*="col-"].columns {
    height: 40px;
  }
  .cv_header div[class*="col-"].columns > div {
    display:  inline-block;
    padding: 0 20px;
    line-height: 40px;
  }
  .slider-top-content .info > h1 {
    font-size: 32pt;
  }
  .slider-top-content .info h3 span {
    font-size: 12pt;
  }
}


#vk_comments,
#vk_comments iframe {
    width: 100% !important;
}
