

/* /////////////////////////////////
	LAYOUT
///////////////////////////////// */

body {
	font: normal 14px 'lucida sans unicode', 'lucida grande', tahoma, arial, trebuchet, "sans serif";
    background: #303030;
	line-height: 20px;
}

#avatar {
    float: left;
}

#afor {
    margin-left: 25px;
    padding-top: 15px;
    overflow: hidden;
}

.paragraph {
    margin-top: 7px;
}


.clear {
	clear: both;
	height: 0;
	line-height: 0px;
	font-size: 0px;
}


/* /////////////////////////////////
	TEXT + HTML
///////////////////////////////// */

h1 {
	font: bold 32px arial, tahoma;
	margin: 0px 0px 18px 0px;
	color: #fff;
	letter-spacing: 0px;
}

h2 {
	font: normal 26px arial, tahoma;
	margin: 36px 30px 18px 0;
	color: #fff;
	letter-spacing: 0px;
}

h3 {
	font: bold 20px arial, tahoma;
	margin: 36px 30px 18px 0;
	color: #fff;
	line-height: 20px;
	letter-spacing: -0px;
}

h4 {
	font: normal 16px arial, tahoma;
	margin: 20px 30px -12px 0;
	color: #fff;
	line-height: 21px;
}

ul {
    margin-top: 5px;
    margin-left: 15px;
}


ul li.level-3 {
    margin-left: 15px;
    font-size: 14px;
    color:red;
}

ol {
	margin-left: 22px;
}

ol li {
	margin-bottom: 9px;
}

p em,
li em {
	font-family: arial, tahoma;
}

strong.white {
	color: #fff;
}

/* /////////////////////////////////
	LINKS
///////////////////////////////// */

a img { border: none }

a:link,
a:visited {
	color: #aedaf1;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

a:focus {
	outline: 0;
}

/* /////////////////////////////////
	LOGO & NAV
///////////////////////////////// */

#logo {
    /*border: 1px solid magenta;*/
	display: block;
	width: 139px;
	overflow: hidden;
	margin: 6px 0 30px;
}

#logo:hover {
	opacity: .8;
    /*filter: alpha(opacity=80);*/
}



/* /////////////////////////////////
	CONTENT
///////////////////////////////// */


pre {
	background: #202020;
    color: #E0E0E0;
	display: block;
	overflow: auto;
	/* margin: 22px 0 22px 0; */
	/* padding: 22px 22px 22px 22px; */
	font: normal 14px 'lucida console', 'lucida sans typewriter', 'courier new', courier;
}

code {
	background: #411919;
	font: normal 14px 'lucida console', 'lucida sans typewriter', 'courier new', courier;
	padding: 0 5px 0;
	white-space: nowrap;
}

pre em, code em {
	font-style: normal;
	color: #fff;
}


.postinfo {
    display: none;
}



body, div, h1, h2, h3, h4, h5, h6, p, ul, ol, li, dl, dt, dd, img, form, fieldset, input, textarea, blockquote {
    margin: 0; padding: 0; border: 0;
}


a {
    color: #4b7ea9; font-style: italic;
}
a:hover {
    color: #105896;
}

#header _a {
    color: #FFF;
    font-style: normal;
    text-decoration: none;
}

#pagecontent div h2 {
    margin-bottom: 5px;
}

h2 a {
    color: #FFF;
    font-style: normal;
    text-decoration: none;
    padding-bottom: 5px;
}

#container {
    width: 100%;
    color: #c0c0c0;
}

#header {
    padding: 0 22px 25px 22px;
    overflow: hidden;
    color: #c0c0c0;
    background: #202020;
}

#navigation {
    padding: 0 22px 0 22px;
    color: #c0c0c0;
    margin: 0 0 0 0;
    min-width: 97%;
    overflow: hidden;
    border-bottom: 1px solid #404040;
    background: #202020;
}

#navigation ul {
    list-style: none;
    }

#navigation li {
    float: left;
    font-size: 18px;
    margin: 0 0 5px 0;
    padding-right:20px;
}

#orgcontent {
    float: left;
    width: 526px;
    margin: 0 98px 22px 22px;
}

#orgcontent article {
    margin: 0 0 67px 0;
}

#orgcontent article h2 {
    font-size: 30px;
    margin: 40px 0 20px 0;
    font-weight: normal;
}

#unnumbered-1 {
    /* margin: 0 0 29px 0 !important; */
}


#orgcontent article h3 {
    color: #5EA0DA;
    margin-top: 10px;
    margin-bottom: 10px;
}


orgcontent article #unnumbered-1 h2:first-child {
    margin: 0 0 29px 0;
}


#orgcontent p {
    margin: 10px 0 10px 0;
    /* padding: 0 22px 0 22px; */
}

#orgcontent ul {
    margin: 0 0 10px 15px;
}

#orgcontent .postinfo {
    list-style: none;
    overflow: hidden;
    margin: 0 0 10px 0;
}

#orgcontent .postinfo li {
    float: left;
    width: 136px;
    margin: 0 20px 0 0;
    font-style: italic;
    color: #a2a2a2;
}




#blogcontent {
    float: left;
    width: 600px;
    margin: 0 50px 20px 20px;
}

#blogcontent article {
    margin: 0 0 67px 0;
}

#blogcontent article h2 {
    font-size: 30px;
    margin: 29px 0 29px 0;
    font-weight: normal;
    }

#blogcontent p {
    margin: 10px 0 10px 0;
}

#blogcontent ul {
	list-style-type: none;
    margin: 0 0 10px 15px;
}

#blogcontent article ul {
    list-style-type: square;
}

#blogcontent .postinfo {
    list-style: none;
    overflow: hidden;
    margin: 0 0 10px 0;
    display: none;
}

#blogcontent .postinfo li {
    float: left;
    width: 136px;
    margin: 0 20px 0 0;
    font-style: italic;
    color: #a2a2a2;
}


#pagecontent {
    overflow:hidden;
}


#pagination {
    overflow: hidden;
    margin: 0 0 120px 0;
}
#pagination ul {
    list-style: none;
}
#pagination li {
    font-size: 18px;
}
#pagination li.older {
    float: left;
}
#pagination li.newer {
    float: right;
}




#sidebar {
    width: 400px;
    float: left;
    margin: 50px 30px 50px 30px;
}
#sidebar h3 {
    font-size: 18px;
    font-weight: normal;
    margin: 0 0 25px 0;
}

#sidebar h4 {
    font-weight: bold;
    color:green;
}

#books h4 {
    color: darkcyan;
}

#lecture h4 {
    color: darkred;
}

#sidebar h4 span {
    font-weight: normal;
    display: none;
}

#sidebar ul {
    list-style: none;
}

#sidebar section {
    margin: 0 0 47px 0;
}

#sidebar a.bio {
    display: block;
    text-align: right;
    float: left;
}

#sidebar a.back {
    display: block;
    text-align: right;
    float: left;
}


#sidebar a.contacts {
    display: block;
    text-align: right;
    float: right;
}

#sidebar a.more {
    display: block;
    text-align: right;
    float: rigth;
    margin-bottom: 25px
}

#sidebar #categories {
    width: 136px; float: left;
    margin: 0 20px 47px 0;
}

#sidebar #social {
    width: 136px; float: left;
}

#sidebar #search #searchbar {
    width: 230px;
    height: 36px;
    float: left;
    border: 1px solid #c7c7c7;
    padding: 0 45px 0 15px;
    margin: -8px 0 0 0;
    background: #e2e2e2; /* Old browsers */
    background: -moz-linear-gradient(top, #e2e2e2 0%, #ffffff 16%); /* FF3.6+ */
    background: -webkit-linear-gradient(top, #e2e2e2 0%,#ffffff 16%); /* Chrome10+,Safari5.1+ */
    font-size: 14px;
    font-style: italic;
    color: #a2a2a2;
}

#sidebar #search #searchsubmit {
    width: 17px;
    height: 17px;
    float: right;
    margin: -27px 15px 0 0;
    background: url(images/search-icon.png);
    text-indent: -9999px;
}

#footer-container {
    min-height: 20px;
    background: rgba(0,0,0,0.2);
    overflow: hidden;
    clear: left;
}
#footer {
    width: 97%;
    margin: 0 auto;
    padding: 10px 22px 50px 22px;
}

#footer #back-top {
    /* float: right; */
    font-size: 12px;
}





@media screen and (max-width: 960px) {

    #logo {
        margin: 0;
    }

    #afor {
        display:none;
    }

    #afor h1 {
        color:blue;
    }

    #container, footer {
        width: 758px;
        }

    #content {
        margin: 0 20px 0 0;
        }

    #sidebar {
        width: 212px;
        }
    #sidebar section {
        clear: left;
        }
    #sidebar #search #searchbar {
        width: 152px;
        }
}

@media screen and (max-width: 758px) {

    #logo {
        margin: 0;
    }

    #afor {
        display:none;
    }

    #afor h1 {
        color:green;
    }

    #container, footer, #sidebar {
        width: 524px;
    }

    header nav {
        clear: left; float: none; overflow: hidden;
    }

    header nav li {
        width: auto; margin: 0 25px 0 0;
    }

    header {
        margin: 0 0 44px 0;
    }

    #sidebar section {
        float: left; clear: none;
        }
    #sidebar #social {
        margin: 0 20px 47px 0;
        }

    #sidebar #search #searchbar {
        width: 464px;
        }
}

@media screen and (max-width: 524px) {

    #logo {
        margin: 0;
    }

    #afor {
        display:none;
    }

    #afor h1 {
        color:red;
    }

    #container, footer, #sidebar, #content {
        width: 292px;
        }

    #content article h2 {
        font-size: 24px;
        }

    #content .postinfo li {
        margin: 0 10px 0 0;
        }

    #sidebar #social {
        margin: 0;
        }

    #sidebar #search #searchbar {
        width: 230px;
        }
}





.guideNum {
    width: 210px;
    border-top: solid 4px #303030;
    float: left;
    position: relative;
    left: -210px;
    margin: -4px -210px 0 0;
    padding: 34px 0 0 0;
}

.guideNum img {
    display: block;
    margin-right: 30px;
    margin-bottom: 20px;
}

.guideNum a,
.guideNum a:visited {
    color: #464646;
    padding-right: 12px;
    background: transparent url('../i/arrow-up.gif') no-repeat right 6px;
    margin-left: 4px;
}

.guideNum a:hover {
    color: #999;
    background-position: right -14px;
}

#guideNav {
    float:left;
}

#guideNav h3 {
    margin-top: 0;
}

#guideNav ul {
    margin: 0 0 0 0;
    font-size: 16px;
    color: #fff;
    line-height: 24px;
}

#guideNav ul a,
#guideNav ul a:visited {
}

ul.fileList li,
ul.fileList li strong {
    color: #fff;
    font: normal 16px arial;
}


#text-table-of-contents ul{
}


#text-table-of-contents ul.nav{
    margin: 0 0 0 0;
}




/* /////////////////////////////////
   NAV
   ///////////////////////////////// */

ul#nav {
    width: 240px;
    list-style-type: none;
    font: normal 18px arial;
    }

ul#nav li {
    display: block;
    width: 240px;
    height: 24px;
    }

ul#nav li a,
ul#nav li a:visited {
    display: block;
    width: 200px;
    height: 24px;
    overflow: hidden;
    color: #999;
    margin-left: 30px;
    }

ul#nav li a:hover {
    color: #fff;
    }



.shiftUp {
    position: relative;
    top: -36px;
    margin-bottom: -18px;
    }

.cutRight {
    margin-right: 320px;
    }

.imgPhoto {
    float: right;
    position: relative;
    left: 22px;
    margin: 0 0 18px 8px;
    }

.imgAbout {
    float: left;
    position: relative;
    left: -210px;
    margin: 5px -180px 18px 0;
    }

.imgConfig {
    float: left;
    position: relative;
    left: -276px;
    margin: 30px -276px -28px 0;
    }

.imgQuote {
    float: left;
    position: relative;
    left: -250px;
    margin: -20px -250px 18px 0;
    }

ul#share {
    margin: 24px 0 18px 0;
    }

ul#share li {
    float: left;
    margin-right: 20px;
    }

ul#share h4 {
    margin: 4px 10px 0 0;
    width: 94px;
    height: 11px;
    overflow: hidden;
    }

ul#share a:link,
ul#share a:visited {
    color: #b3b3b3;
    }

ul#share a:hover {
    color: #fff;
    }

#stumble {
    padding: 1px 0 1px 22px;

    }

#float {
    padding: 1px 0 1px 22px;

    }

#delicious {
    padding: 1px 0 1px 22px;

    }

#digg {
    padding: 1px 0 1px 22px;

    }

#twitter {
    padding: 1px 0 1px 22px;

    }

#facebook {
    padding: 1px 0 1px 22px;

    }



/* /////////////////////////////////
   FOOTER
   ///////////////////////////////// */

#footer {
    clear: both;
    width: 720px;
    margin: 0 auto;
    padding: 1px 0px 0px 100px ;
    color: #707070;
    height: 70px;
    }

#footer p {
    margin: 18px 0 12px 0;
    }

#footer a:link,
#footer a:visited {
    color: #707070;
    }

#footer a:hover {
    color: #fff;
    }

.comment-action {
    text-decoration: underline;
    cursor: pointer;
    font-weight: bold;
    font-size: small;
}


/* /////////////////////////////////
   FORMS
   ///////////////////////////////// */

fieldset {
    border: 0;
    }

label {
    display: block;
    width: 140px;
    float: left;
    font: normal 16px arial, tahoma;
    color: #fff;
    margin: 4px 20px 0 0;
    }

.input {
    width: 480px;
    font: normal 11px 'lucida sans unicode', 'lucida grande', tahoma, arial, trebuchet, "sans serif";
    background: #303030;
    border: 0;
    padding: 5px;
    color: #b3b3b3;
    }

input.input {

    }

select.input {
    width: 490px;
    }

.input:focus,
option:focus {
    border: 0;
    outline: 0;
    }

textarea.input {
    height: 100px;
    }

form ul li {
    clear: both;
    padding-bottom: 10px;
    }

a#buttonSend:link,
a#buttonSend:visited {
    display: block;
    width: 70px;
    height: 29px;
    overflow: hidden;
    background: transparent url('../i/button-send.gif') no-repeat left top;
    margin: 0 0 0 160px;
    }

a#buttonSend:hover {
    background-position: left -29px;
    }

#contactForm textarea.input {
    height: 200px;
    }

form#purchase {
    background: #303030;
    width: 186px;
    padding: 12px;
    }

form#purchase label {
    float: left;
    width: auto;
    font: normal 11px 'lucida sans unicode', 'lucida grande', tahoma, arial, trebuchet, "sans serif";
    color: #b3b3b3;
    margin: 14px 5px 0 0;
    }

form#purchase .input {
    float: left;
    width: 90px;
    background: #222222;
    padding: 2px;
    margin: 12px 0 0 0;
    color: #fff;
    }


/*////////////////*/


.workentry {
    background: #222222;
    padding: 5px 15px 5px 15px;
    margin: 5px;
}

.workname {
    color: green;
    font-size: 18px;
}

.worktime {
    font-size: 12px;
}

.workposition {
    color: red;
    font-size: 16px;
}

.workdescr {
    margin-left: 30px;
}
