
* {
	margin:0;
	padding:0;
}

/* /////////////////////////////////
	LAYOUT
///////////////////////////////// */

body {
	font: normal 14px 'lucida sans unicode', 'lucida grande', tahoma, arial, trebuchet, "sans serif";
	color: #b3b3b3;
	background: #303030;
	line-height: 20px;
}

#center {
	width: 1100px;
	margin: 40px auto 0;
	background: #222222;
	padding: 40px 0 40px;
}

.left {
	float: left;
}

.right {
	float: right;
}

.clear {
	clear: both;
	height: 0;
	line-height: 0px;
	font-size: 0px;
}

.divider {
	clear: both;
	height: 0px;
	border-bottom: solid 4px #303030;
	line-height: 0px;
	font-size: 0px;
	padding: 12px 0 0 0;

}

.hidden {
	display: none;
}

.block {
	display: block;
}

.relative {
	position: relative;
}

.col1 {
	width: 225px;
    /*border: 1px solid red;*/
}

.col2 {
	width: 320px;
    /*.border: 1px solid white;*/
    padding: 10px;
}

.col3 {
	width: 840px;
    padding-right: 20px;
    /*.border: 1px solid green;*/
}

.col4 {
	width: 400px;
    /*.border: 1px solid blue;*/
}

.padLeft {
	margin-left: 30px;
}

/* /////////////////////////////////
	TEXT + HTML
///////////////////////////////// */

h1 {
	font: bold 32px arial, tahoma;
	margin: 0px 0px 18px 0px;
	color: #fff;
	letter-spacing: 0px;
}

h2 {
	font: normal 26px arial, tahoma;
	margin: 36px 30px 18px 0;
	color: #fff;
	line-height: 20px;
	letter-spacing: 0px;
}

h3 {
	font: bold 20px arial, tahoma;
	margin: 36px 30px 18px 0;
	color: #fff;
	line-height: 20px;
	letter-spacing: -0px;
}

h4 {
	font: normal 16px arial, tahoma;
	margin: 20px 30px -12px 0;
	color: #fff;
	line-height: 21px;
}

p, ul, ol {
	margin: 18px 30px 18px 0px;
}

ul {
	list-style-type: none;
}

ul li.level-3 {
    margin-left: 15px;
    font-size: 14px;
    color:red;
}

ol {
	margin-left: 22px;
}

ol li {
	margin-bottom: 9px;
}

p em,
li em {
	font-family: arial, tahoma;
}

strong.white {
	color: #fff;
}

/* /////////////////////////////////
	LINKS
///////////////////////////////// */

a img { border: none }

a:link,
a:visited {
	color: #aedaf1;
	text-decoration: none;
}

a:hover {
	color: #fff;
	text-decoration: none;
}

a:focus {
	outline: 0;
}

/* /////////////////////////////////
	LOGO & NAV
///////////////////////////////// */

#logo {
	display: block;
	width: 139px;
	height: 70px;
	overflow: hidden;
	margin: 6px 0 0 30px;
}

#logo:hover {
	opacity: .8;
    /*filter: alpha(opacity=80);*/
}

/* /////////////////////////////////
	NAV
///////////////////////////////// */

ul#nav {
	width: 240px;
	margin: 36px 0 0 0;
	list-style-type: none;
	font: normal 18px arial;
}

ul#nav li {
	display: block;
	width: 240px;
	height: 24px;
}

ul#nav li a,
ul#nav li a:visited {
	display: block;
	width: 200px;
	height: 24px;
	overflow: hidden;
	color: #999;
	margin-left: 30px;
}

ul#nav li a:hover {
	color: #fff;
}


/* /////////////////////////////////
	CONTENT
///////////////////////////////// */

.shiftUp {
	position: relative;
	top: -36px;
	margin-bottom: -18px;
}

.cutRight {
	margin-right: 320px;
}

.imgPhoto {
	float: right;
	position: relative;
	left: 22px;
	margin: 0 0 18px 8px;
}

.imgAbout {
	float: left;
	position: relative;
	left: -210px;
	margin: 5px -180px 18px 0;
}

.imgConfig {
	float: left;
	position: relative;
	left: -276px;
	margin: 30px -276px -28px 0;
}

.imgQuote {
	float: left;
	position: relative;
	left: -250px;
	margin: -20px -250px 18px 0;
}

ul#share {
	margin: 24px 0 18px 0;
}

ul#share li {
	float: left;
	margin-right: 20px;
}

ul#share h4 {
	margin: 4px 10px 0 0;
	width: 94px;
	height: 11px;
	overflow: hidden;
}

ul#share a:link,
ul#share a:visited {
	color: #b3b3b3;
}

ul#share a:hover {
	color: #fff;
}

#stumble {
	padding: 1px 0 1px 22px;

}

#float {
	padding: 1px 0 1px 22px;

}

#delicious {
	padding: 1px 0 1px 22px;

}

#digg {
	padding: 1px 0 1px 22px;

}

#twitter {
	padding: 1px 0 1px 22px;

}

#facebook {
	padding: 1px 0 1px 22px;

}

pre {
	background: #303030;
	display: block;
	width: 770px;
	overflow: auto;
	margin: 22px 0 22px 0;
	padding: 18px 18px 24px;
	font: normal 14px 'lucida console', 'lucida sans typewriter', 'courier new', courier;
}

code {
	background: #303030;
	font: normal 14px 'lucida console', 'lucida sans typewriter', 'courier new', courier;
	padding: 5px 8px 4px;
	white-space: nowrap;
}

pre em, code em {
	font-style: normal;
	color: #fff;
}

.alert {
	padding: 8px 12px;
	background: #181818;
}

.guideNum {
	width: 210px;
	border-top: solid 4px #303030;
	float: left;
	position: relative;
	left: -210px;
	margin: -4px -210px 0 0;
	padding: 34px 0 0 0;
}

.guideNum img {
	display: block;
	margin-right: 30px;
	margin-bottom: 20px;
}

.guideNum a,
.guideNum a:visited {
	color: #464646;
	padding-right: 12px;
	background: transparent url('../i/arrow-up.gif') no-repeat right 6px;
	margin-left: 4px;
}

.guideNum a:hover {
	color: #999;
	background-position: right -14px;
}

#guideNav {
	margin: 0px 13px 80px 30px;
	padding: 8px 12px;
    /*.background: #181818;*/
}

#guideNav h3 {
	margin-top: 0;
}

#guideNav ul {
	margin: 0 0 0 0;
	font-size: 16px;
	color: #fff;
	line-height: 24px;
}

#guideNav ul a,
#guideNav ul a:visited {
	margin-left: 4px;
}

ul.fileList li,

ul.fileList li strong {
	color: #fff;
	font: normal 16px arial;
}


/* /////////////////////////////////
	FOOTER
///////////////////////////////// */

#footer {
	clear: both;
	width: 720px;
	background: #303030;
	margin: 0 auto;
	padding: 1px 0px 0px 100px ;
	color: #707070;
	height: 70px;
}

#footer p {
	margin: 18px 0 12px 0;
}

#footer a:link,
#footer a:visited {
	color: #707070;
}

#footer a:hover {
	color: #fff;
}


/* /////////////////////////////////
	FORMS
///////////////////////////////// */

fieldset {
	border: 0;
}

label {
	display: block;
	width: 140px;
	float: left;
	font: normal 16px arial, tahoma;
	color: #fff;
	margin: 4px 20px 0 0;
}

.input {
	width: 480px;
	font: normal 11px 'lucida sans unicode', 'lucida grande', tahoma, arial, trebuchet, "sans serif";
	background: #303030;
	border: 0;
	padding: 5px;
	color: #b3b3b3;
}

input.input {

}

select.input {
	width: 490px;
}

.input:focus,
option:focus {
	border: 0;
	outline: 0;
}

textarea.input {
	height: 100px;
}

form ul li {
	clear: both;
	padding-bottom: 10px;
}

a#buttonSend:link,
a#buttonSend:visited {
	display: block;
	width: 70px;
	height: 29px;
	overflow: hidden;
	background: transparent url('../i/button-send.gif') no-repeat left top;
	margin: 0 0 0 160px;
}

a#buttonSend:hover {
	background-position: left -29px;
}

#contactForm textarea.input {
	height: 200px;
}

form#purchase {
	background: #303030;
	width: 186px;
	padding: 12px;
}

form#purchase label {
	float: left;
	width: auto;
	font: normal 11px 'lucida sans unicode', 'lucida grande', tahoma, arial, trebuchet, "sans serif";
	color: #b3b3b3;
	margin: 14px 5px 0 0;
}

form#purchase .input {
	float: left;
	width: 90px;
	background: #222222;
	padding: 2px;
	margin: 12px 0 0 0;
	color: #fff;
}

